################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/BlueLightSPS/Blue/Debug
/Src/BlueLightSPS/Debug
/Src/BlueLightSPS/ipch
/Src/BlueLightSPS/BlueTable/obj/Debug
/Src/BlueLightSPS/Blue.v12.suo
/Src/BlueLightSPS/Blue.opensdf
/Src/BlueLightSPS/Blue.sdf

/Src/BlueLightSPS/Blue/Release
/Src/BlueLightSPS/Release
/Src/BlueLightSPS/BlueTable/obj
/Src/BlueLightSPS/BlueTable/jqgrid/jqassist.js
/Src/BlueLightSPS/BlueTable/sale.js
/Src/BlueLightSPS/BlueTable/util.js
Src/BlueLightSPS/BlueTable/jqgrid/vector.js

*.map
*.aps
/Src/BlueLightSPS/BlueTable/bin
Src/BlueLightSPS/Blue/Blue.aps
*.aps
*.js
*.aps
Documentation/~$生产流程数据库软件说明(10 17).xlsx
Documentation/~$DB.docx
Src/BlueLightSPS/Blue/Blue.aps
Src/BlueLightSPS/Blue/Blue.aps
Src/BlueLightSPS_Web/BlueRay/target
Src/BlueLightSPS/ComboBoxDemo/Debug/ComboBoxDemo.log
*.obj
Src/BlueLightSPS/ComboBoxDemo/Debug/ComboBoxDemo.res
*.tlog
Src/BlueLightSPS/ComboBoxDemo/Debug/vc120.idb
*.pdb
Src/BlueLightSPS/ComboBoxDemo/Debug/ComboBoxDemo.pch
*.log
Src/BlueLightSPS/ComboBoxDemo/Release/ComboBoxDemo.pch
*.res
